* {
  margin: 0;
  padding: 0;
}

body {
 background-color: #0e1428;
}
.navbar{
  background-color: rgb(5, 27, 46);
}
.btn_signin{
  color: white;
  background-color:rgb(252, 31, 200);
  margin-right: 5px;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 3px 2px rgb(184, 164, 167);
}